# 5. K-Means

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('KMeansData.csv')
dataset[:5]

   hour  score
0  7.33     73
1  3.71     55
2  3.43     55
3  3.06     89
4  3.33     79

In [3]:
# k-means는 비지도라 정답이 없기때문에 y가 필요없다.
X = dataset.iloc[:, :].values
# X = dataset.values
# X = dataset.to_numpy() # 공식 홈페이지 권장
X[:5]

array([[ 7.33, 73.  ],
       [ 3.71, 55.  ],
       [ 3.43, 55.  ],
       [ 3.06, 89.  ],
       [ 3.33, 79.  ]])